.appBar {
  display: flex;
  width: 100%;
  padding: 24px 64px;
  align-items: center;
  gap: 450px;
  border-bottom: 1px solid var(--badges);
  background: var(--inputs);
}

.iconLogo {
  width: 136px;
  height: 16px;
  flex-shrink: 0;
}
