.list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.btnLoad {
  color: var(--main);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: -0.08px;
  padding: 16px 32px;
  text-align: center;
  border-radius: 200px;
  border: 1px solid var(--gray-light);
}
