:root {
	--Main: #101828;
	--Text: #475467;
	--Gray: #6c717b;
	--Button: #e44848;
	--Button-Hover: #d84343;
	--Rating: #ffc531;
	--Gray-light: #dadde1;
	--Badges: #f2f4f7;
	--Inputs: #f7f7f7;
	--White: #fff;
}
