.option {
  display: flex;
  padding: 12px 14px;
  align-items: center;
  gap: 6px;
  border-radius: 100px;
  background: var(--badges);
  mix-blend-mode: multiply;
  letter-spacing: -0.08px;
  color: var(--main);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}

.icon {
  width: 20px;
  height: 20px;
  fill: var(--main);
}
