.card {
  display: flex;
  padding: 24px;
  align-items: flex-start;
  gap: 24px;
  border-radius: 20px;
  border: 1px solid var(--gray-light);
  background-color: var(--white);
  width: 888px;
  min-height: 368px;
}

.picture {
  width: 292px;
  height: 320px;
  flex-shrink: 0;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
}

.camperInfo {
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 320px;
}

.titleWrapper {
  display: flex;
  width: 524px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.priceWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex-shrink: 0;
}

.title,
.price {
  color: var(--main);
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33em;
  letter-spacing: -0.08px;
}

.iconHeart {
  width: 25px;
  height: 22px;
  fill: var(--main);
}

.iconStar,
.iconMap {
  width: 16px;
  height: 16px;
  fill: var(--rating);
}

.iconMap {
  fill: var(--main);
}

.info {
  color: var(--main);
  font-size: 16px;
  line-height: 1.5em;
}

.infoContainer {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.infoWrapper {
  display: flex;
  align-items: center;
  gap: 4px;
}

.description {
  width: 525px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow: hidden;
  color: var(--text);
  font-size: 16px;
  line-height: 1.5em;
}

.btnShow {
  width: 166px;
  height: 56px;
  padding: 16px 16px;
  border-radius: 200px;
  background: var(--button);
  border: none;
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: -0.08px;
  margin-top: auto;
}
